-- Migration: Add private_key to clients table
-- Date: 2026-02-25
-- Purpose: Add private key field for client authentication

ALTER TABLE clients ADD COLUMN private_key VARCHAR(255) NULL COMMENT 
\Private
key
provided
by
admin/investigator
for
additional
security\';
